.Home__NewsPiecesWrapper {
  margin-top: 3vh;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
}

.Home__Header {
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}

.Home__Header__FocusWord {
  text-transform: uppercase;
  font-weight: 900;
  color: turquoise;
  font-style: italic;
}

.Home__Header__FocusWord2 {
  color: gold;
}

.Home__NewsPiece {
  width: 40%;
}

.Home__NewsPiece__Header__Serious {
  color: seashell;
  background-color: sienna;
}

.Home__NewsPiece__Header__Silly {
  color: seashell;
  background-color: sienna;
}

.Home__Weather {
  margin-bottom: 50px;
}

.Home__Weather__Header {
  color: seashell;
  background-color: sienna;
}

.Home__Weather__Part {
  width: 33%;
  float: left;
}

.Home__Picture {
  text-align: center;
  margin-bottom: 50px;
}

.Home__Picture__Header {
  color: seashell;
  background-color: sienna;
}

.Home__Picture__Picture {
  width: 80%;
  height: 80vh;
}

.Home__Quote {
  text-align: center;
  margin-bottom: 50px;
}

.Home__Quote__Header {
  color: seashell;
  background-color: sienna;
}

.Home__Quote__Quote {
  font-family: "Lora", serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Home__Quote__Text {
  width: 70%;
  display: block;
  margin-bottom: 6%;
  font-size: 26px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}

.Home__Quote__Author {
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  color: #16b6df;
  margin: 0;
}

.Home__Quote__Icon {
  color: #16b6df;
  width: 100%;
}

.Home__Advice {
  margin: 0 auto;
  margin-bottom: 50px;
}

.Home__Advice__Header {
  color: seashell;
  background-color: sienna;
}

@media (max-width: 900px) {
  .Home__NewsPiecesWrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .Home__NewsPiece {
    width: initial;
  }

  .Home__NewsPiece:nth-child(even) {
    margin-top: 6vh;
  }

  .Home__Header {
    font-size: 14px;
  }

  .Home__Weather__Header,
  .Home__Quote__Header {
    font-size: 12px;
  }

  .Home__Quote__Text {
    font-size: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
  }

  .Home__Quote__Author {
    font-size: 12px;
  }

  .Home__Advice__Comic {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .Home__NewsPiece {
    margin: 0 3vw;
  }
}
