.Intro {
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/images/intro_background_v4.jpg");
  background-size: cover;
  background-position: 40% 80%;
  background-attachment: fixed;

  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.Intro__Start__Header {
  font-family: "Permanent Marker", cursive;
  font-size: 90px;
  color: antiquewhite;
}

.Intro__Start__Text {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  color: #ff9000;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 600px) {
  .Intro__Start__Header {
    font-size: 70px;
  }
  .Intro__Start__Text {
    display: none;
  }
}
