.MusicPlayer {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  opacity: 0.6;
  transition: opacity 0.5s ease-in;
}

.MusicPlayer:hover {
  opacity: 1;
}

.MusicPlayer__Body {
  margin-right: 80px;
}

.MusicPlayer__LyricsButton {
  position: absolute;
  left: -25%;
  top: 50px;
}

.MusicPlayer__LyricsCard {
  z-index: 0;
  position: fixed;
  background-color: darkgoldenrod;
  color: antiquewhite;
}

.MusicPlayer__LyricsContainer {
  height: 100px;
  overflow: auto;
}

.MusicPlayer__Audio {
  transition: all 0.5s linear;
  box-shadow: 2px 2px 4px 0px #1f2e30;
  border-radius: 40px;
  margin-top: 10px;
}

.MusicPlayer__Audio:hover,
.MusicPlayer__Audio:focus,
.MusicPlayer__Audio:active {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.MusicPlayer__ToggleIcon {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #343638;
}

@media (max-width: 1050px) {
  .MusicPlayer {
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    background-color: darkgoldenrod;
  }

  .MusicPlayer__Body {
    margin-top: 30px;
    margin-right: 0;
  }

  .MusicPlayer__Audio {
    width: 70vw;
  }

  .MusicPlayer__LyricsButton {
    position: static;
  }

  .MusicPlayer__LyricsCard {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 55vh;
    overflow: auto;
    margin-top: 15px;
  }

  .MusicPlayer__LyricsContainer {
    height: 100%;
    margin-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  .MusicPlayer__SongInfo {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .MusicPlayer__SongInfo {
    font-size: 12px;
  }
  .MusicPlayer__ToggleIcon {
    right: 10px;
  }
}
@media (max-width: 350px) {
  .MusicPlayer__SongInfo {
    font-size: 10px;
  }

  .MusicPlayer__LyricsContainer {
    height: 50vh;
  }
}

@media (min-width: 1050px) {
  .MusicPlayer__Body {
    margin-top: 10px;
  }

  .MusicPlayer__LyricsCard {
    opacity: 0.6;
    transition: opacity 0.5s ease-in;
    left: 19%;
    top: 3%;
  }

  .MusicPlayer__LyricsCard:hover {
    opacity: 1;
  }
}

@media (max-width: 1250px) and (min-width: 1050px) {
  .MusicPlayer__LyricsCard {
    left: 6%;
  }
}
