.MusicPlayer {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center;
  opacity: 0.6;
  transition: opacity 0.5s ease-in;
}

.MusicPlayer:hover {
  opacity: 1;
}

.MusicPlayer__LyricsButton {
  position: absolute;
  left: -50%;
  top: 30px;
}

.MusicPlayer__LyricsCard {
  position: absolute;
  top: 5px;
  right: 40vw;
}

.MusicPlayer__LyricsContainer {
  height: 100px;
  overflow: auto;
}

.Audio {
  transition: all 0.5s linear;
  box-shadow: 2px 2px 4px 0px #1f2e30;
  border-radius: 40px;
}

.Audio:hover,
.Audio:focus,
.Audio:active {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

@media (max-width: 1040px) {
  .MusicPlayer {
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
  }
  .MusicPlayer__LyricsButton {
    position: static;
  }
  .MusicPlayer__LyricsCard {
    top: 23vh;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: 30px;
    margin-right: 30px;
  }
  .MusicPlayer__LyricsContainer {
    height: 70vh;
    margin-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1040px) {
  .MusicPlayer__LyricsCard {
    width: 40vw;
  }
}
